img {
    width: 150px;
}

.home h1 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 1rem;
}

.product {
    text-align: justify;
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    border-bottom: 1px solid #777;
}

.product h4, .product p {
    margin-bottom: 1rem;
}

.product h4 {
    text-transform: uppercase;
}

.price {
    font-weight: bold;
}

.btn {
    background-color: #fff;
    color: #0e1217;
    border: 1px solid #fff;
    opacity: 1;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    width: 150px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    color: #fff;
    background-color: #0e1217;
}

.btn-area {
    display: flex;
    gap: 1rem;
}

.edit-btn, .delete-btn {
    color: #fff;
    width: 150px;
}

.edit-btn {
    background-color: #475052;
}

.delete-btn {
    background-color: #aa1e1e;
    font-size: 14px;
}